<!DOCTYPE html>

<html>
<head>
    <title>Purchase History</title>
</head>

<body>

<h1>Purchase History</h1>

<a href="{% url 'create_purchase_page' %}">
    Record New Purchase
</a>

<br><br>

<table border="1" cellpadding="8">

    <thead>
        <tr>
            <th>Purchase #</th>
            <th>Drug</th>
            <th>Supplier</th>
            <th>Quantity</th>
            <th>Cost Price</th>
            <th>Purchase Date</th>
            <th>Invoice Number</th>
            <th>Received By</th>
        </tr>
    </thead>

    <tbody>

        {% for purchase in purchases %}

            <tr>
                <td><a href="{% url 'purchase_detail' purchase.id %}">
                        Purchase #{{ purchase.id }}
                    </a></td>

                <td>
                    {{ purchase.drug.name }}
                </td>

                <td>
                    {{ purchase.supplier.company_name }}
                </td>

                <td>
                    {{ purchase.quantity }}
                </td>

                <td>
                    Ksh {{ purchase.cost_price }}
                </td>

                <td>
                    {{ purchase.purchase_date }}
                </td>

                <td>
                    {{ purchase.invoice_number }}
                </td>

                <td>
                    {{ purchase.received_by.username }}
                </td>
            </tr>

        {% empty %}

            <tr>
                <td colspan="8">
                    No purchases have been recorded yet.
                </td>
            </tr>

        {% endfor %}

    </tbody>

</table>

</body>
</html>